{
  "plugins": [
    "@lingui/babel-plugin-transform-js",
    "@lingui/babel-plugin-transform-react"
  ],
  "env": {
    "extract": {
      "presets": [
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
